@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 132px 1fr;
  gap: 36px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "main news";
}

.header { 
  grid-area: header; 
  background: #FF8300;
}

.header-wrapper {
  width: 85%;
  margin: 39px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper .logo h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 14px;
  margin: 20px 0;
  text-transform: uppercase;
}

.header-wrapper .logo h1 a {
  color: black;
  text-decoration: none;
}

.header-wrapper .logo h1 a:hover {
  text-decoration: underline;
}

.header-nav {
  width: 60%;
  text-align: center;

  display: flex;
  justify-content: space-between;
}

.header-nav .nav-item {
  margin: 0 5px;
}

.header-nav .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-item:last-child {
  margin-right: 0;
}

.header-nav a {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}

.header-auth {
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header-auth-item a {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.header-auth-item a:hover {
  text-decoration: underline;
}

.main { 
  grid-area: main; 
  margin-left: 25px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voting {
  margin-top: 28px;
}

.voting h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 0;
}

.voting .cards {
  margin-top: 33px;

  display: flex;
}

.voting .cards .card-item {
  width: 384px;
  background: #FFFFFF;
  border: 2px solid #DBD8D8;
  margin: 0 20px;

  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.voting .cards .card-item:first-child {
  margin-left: 0;
}

.voting .cards .card-item:last-child {
  margin-right: 0;
}

.voting .cards .card-item .card-item-text {
  font-size: 14px;
  text-align: center;
  margin: 26px 18px;
}

.voting .cards .card-item button {
  padding: 20px 9px;
  background-color: #fff;
  border: 1px solid #FF8300;
  color: #FF8300;
  font-weight: bold;
  font-size: 24px;
  margin: 23px 97px 32px 97px;
}

.voting .cards .card-item:hover button {
  background-color: #FF8300;
  color: #fff;
}

.news { 
  grid-area: news; 
  background-color: darkred;
  margin-right: 25px;
}